button {
    width: 100px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 5px 10px;
        border-radius: 20px;
        background: var(--btn-background);
        border: 0;
        outline: 0;
        color: var(--btn-color);
        cursor: pointer;
    
    &:hover {
        background: var(--btnHover-background);
        transition: .3s;
    }
}

